.paper{
  margin: 50px auto 50px;
  max-width: 800px;
  overflow: hidden;
  border-radius: 12px;
  width: 100%;
  background: var(--color-layout);

  p,
  .pagination,
  svg {
    color: var(--color-primary);
    background: var(--color-layout);
  }
}

.container {
  max-height: 440px;
}
