.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30vh;
}

.describe {
  margin-top: 1.25rem;
  color: var(--color-primary);
  font-size: 1.25rem;
  line-height: 1.25rem;
}
