.myBtn {
    color: white;
    font-size: 13px;
    width: 280px;
    height: 37px;
    background: #00a0d7;
    border-radius: 8px;
    border: none;
    cursor: pointer;

    &:active {
        border: 1px solid white;
    }
}
