.topic {
  background: var(--color-layout);
  color: var(--color-primary);
  padding-top: 3rem;

  .button {
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 0.3rem;
    padding: 0;
    background-color: var(--color-darkestGrey);
    color: var(--color-primary);
  }
    
  .btnUpdate:hover {
    background-color: var(--color-success);
  }

  .container {
    margin-left: 0;

    .comments {
      margin-left: -45px;
    }
  }

  .divider {
    border-color: var(--color-divider);
    margin-top: 20px;
  }
}

.user {
  font-size: 15px;
  line-height: 13px;
  color: var(--color-blue);
  margin: 15px 0;
}

.description {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 15px;
}
