.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.grid {
  position: absolute;
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.25rem;
  gap: 1.688rem;
  padding-top: 0.625rem;
}

.gridLast {
  margin-right: 3.75rem;
}

.switch {
  position: absolute;
  right: 0;
  margin-right: 3.75rem;
}
