:root {
  --color-layout: #343739;
  --color-primary: #fff;
  --color-grey: #999999;
  --color-darkGrey: #666869;
  --color-darkestGrey: #414345;
  --color-orange: #fc920c;
  --color-blue: #00a0d7;
  --color-error: #FF2F2F;
}
