:root {
  --color-layout: #343739;
  --color-primary: #fff;
  --color-lightGrey: #eaeaea;
  --color-grey: #999999;
  --color-darkGrey: #666869;
  --color-darkestGrey: #414345;
  --color-orange: #fc920c;
  --color-blue: #00a0d7;
  --color-error: #ff2f2f;
  --color-divider: #eeeeee;
  --color-success: #5fc576;
  --color-black: #000;
}
