.wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .wrapUserData {
    & > *:not(:last-child) {
      border-bottom: 2px solid var(--color-lightGrey);
    }

    .wrapLabelValue {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 35px;

      .label {
        color: var(--color-primary);
      }

      .value {
        color: var(--color-lightGrey);
      }
    }
  }

  .wrapLinks {
    align-self: flex-start;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;

    & > *:not(:last-child) {
      color: var(--color-blue);
    }

    & > :last-child {
      color: var(--color-error);
    }

  }
}
